<nav>
  <div class="site-title">
      <img src="../images/backgroundheader.jpg">
      <a href="/"><h1>Vladik's Daily Musings</h1></a>
      <p>A Personal Blog</p></div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>